
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after{
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}
body{
  margin: 0;
  padding: 0;
  background-color: #4A4A4A;
}
.container {
  width: 1250px;
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
}
.item {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: black;
} 
// Main 
.box-wrapper {
  position: relative;
  width: 600px;
  height: 600px;
  margin: 30px auto 0 auto;
  background-image: url(../img/watch.png);
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10px;
  border: 8px solid #9C9C9C;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 10px white;
  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #CFF5EC;
    position: absolute;
    z-index: 555;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px #EDA7D8;
  }
  &::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ED3841;
    position: absolute;
    z-index: 700;
    border-radius: 50%;
  }
  .secund-item {
    position: absolute;
    width: 230px;
    height: 10px;
    background-color: black;
    animation-name: animation-secund;   
    animation-duration: 60s;
    animation-iteration-count: infinite;
    transform-origin: left;
    animation-timing-function:steps(60), cubic-bezier(.71,.18,.55,1.51);
    z-index: 10;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .minut-item {
    position: absolute;
    width: 190px;
    height: 10px;
    background-color: #F54D52;
    animation-name: animation-minut;   
    animation-duration: 3600s;
    animation-iteration-count: infinite;
    transform-origin: left;
    animation-timing-function:steps(60), cubic-bezier(.71,.18,.55,1.51);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .hour-item {
    position: absolute;
    width: 150px;
    height: 10px;
    background-color: #266FF5;
    animation-name: animation-hour;   
    animation-duration: 3600*60s;
    animation-iteration-count: infinite;
    transform-origin: left;
    animation-timing-function:steps(60), cubic-bezier(.71,.18,.55,1.51);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}   

   // Animations

@keyframes animation-secund {
  0% {
    transform: translateX(115px) rotate(-90deg);

  }
  100% {
    transform: translateX(115px) rotate(270deg);
  }
}

@keyframes animation-minut {
  0% {
    transform: translateX(95px) rotate(-90deg);

  }
  100% {
    transform: translateX(95px) rotate(360deg);
  }
}
@keyframes animation-hour {
  0% {
    transform: translateX(75px) rotate(90deg);

  }
  100% {
    transform: translateX(75px) rotate(450deg);
  }
}

@media only screen and (max-width: 600px) {
  .contaner {
    width: 90vw;
    .box-wrapper {
      position: relative;
      width: 300px;
      height: 300px;
  margin: 30px auto 0 auto;
  background-image: url(../img/watch.png);
      background-color: white;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 5px;
      border: 4px solid #9C9C9C;
      border-radius: 50%;
      box-shadow: 0px 0px 5px 5px white;
      
      &::before {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 3px #EDA7D8;
       }
      &::after {
        width: 5px;
        height: 5px;
        border-radius: 50%;
      }
      .secund-item {
        width: 115px;
        height: 5px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      .minut-item {
        width: 95px;
        height: 5px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .hour-item {
        width: 75px;
        height: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
       }
    }  
  }
}






